@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: Stringer;
  src: url("/font/StingerFitTrial-Regular.ttf");
  font-weight: 400;
}
.la{
  font-family: Stringer,sans-serif;

}